<h1>List of Users</h1>
<table>

  <% @users.each do |user| %>
  <tbody>

  <tr>


  <td><%= link_to "#{user.name}", user %></td>
  <% end %>


</tr>

</tbody>
</table>
<%= link_to "Create new User", new_user_path %>
